DATABASE_URL=postgresql://neondb_owner:npg_cY7SMgC4ATNm@ep-curly-unit-atlt2cb4-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ADMIN_KEY=29fj8482749wf02388f8232s258734521
